DB_USER=user
DB_PASSWORD=password
DB_NAME=litestream
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=litestream
REDIS_HOST=redis
JWT_SECRET=your_local_jwt_secret_here
ADMIN_USER=admin
ADMIN_PASS=adminpassword=